@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Playwrite+IN:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');



@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  .btn{
    @apply font-poppins text-white block md:hidden mx-auto bg-textCol2 hover:text-textCol2 hover:bg-white text-base px-8 rounded-sm py-2.5 border-2 mt-5 font-medium border-transparent hover:border-textCol duration-300
  }
}

@font-face {
  font-family: 'Rig Solid';
  src: local('Rig Solid Bold Halftone'),
       local('Rig-Solid-Bold-Halftone'),
       url('./fonts/Rig-BoldHalftone/Rig-BoldHalftone.woff2') format('woff2'),
       url('./fonts/Rig-BoldHalftone/Rig-BoldHalftone.woff') format('woff'),
       url('./fonts/Rig-BoldHalftone/Rig-BoldHalftone.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  
}

@font-face {
  font-family: 'Pinyon Script';
  src: url('./fonts/Pinyon/PinyonScript-Regular.woff2') format('woff2'),
       url('./fonts/Pinyon/PinyonScript-Regular.woff') format('woff'),
       url('./fonts/Pinyon/PinyonScript-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}



@font-face {
  font-family: 'Baskervville';
  src: url('./fonts/Baskervville/Baskervville-Regular.woff2') format('woff2'),
       url('./fonts/Baskervville/Baskervville-Regular.woff') format('woff'),
       url('./fonts/Baskervville/Baskervville-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Baskervville';
  src: url('./fonts/Baskervville/Baskervville-Italic.woff2') format('woff2'),
       url('./fonts/Baskervville/Baskervville-Italic.woff') format('woff'),
       url('./fonts/Baskervville/Baskervville-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Playwrite IN';
  src: url('https://fonts.gstatic.com/s/playwritein/v1/variant-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Courgette';
  src: url('https://fonts.gstatic.com/s/courgette/v14/wEO_EBrAnc9BLjLQAXp-dw.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
.swiper-slide {
  transition: all 0.3s ease;
  opacity: 0.4;
  transform: scale(0.8);
}

.swiper-slide-active {
  opacity: 1;
  transform: scale(1.1);
}

.swiper-slide-prev,
.swiper-slide-next {
  opacity: 0.8;  
  transform: scale(0.9); 
}


.swiper-pagination-bullet {
  width: 10px !important;
  height: 10px !important;
  background: #D1D5DB !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  background: #9CA3AF !important;
}


.swiper-button-prev,
.swiper-button-next {
  color: #4B5563 !important;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  display: none;
}


@media (max-width: 640px) {
  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }
}
